<h1>Products#index</h1>
<p>dbからデータを読み込んで一覧表示するページ</p>

<%= link_to "新規登録", new_product_path %>

<p>
  <% @products.each do |product| %>
  <% end %>
</p>


<section class="bg-light text-center py-5">
  <h2 class="mb-5">一覧(仮)</h2>
  <div class="container">
    <table class="table table-sm table-hover table-striped table-dark">
<thead>
<tr>
  <th scope="col">メーカー</th>
  <th scope="col">商品名</th>
  <th scope="col">年月</th>
  <th scope="col">内容量</th>
  <th scope="col">価格</th>
  <th scope="col">グラム単価</th>
      <th scope="col">実質値上げ率（倍）</th>
</tr>
</thead>
<tbody>
<%
  @products.each do |product|
    rowspan = product.product_details.count
%>
<tr>
  <th scope="row" rowspan="<%= rowspan %>">
     <%= product.maker.name %>
  </th>
  <td rowspan="<%= rowspan %>">
    <%= link_to product.name, product_path(product.id) %>
  </td>
  <% product.product_details.each_with_index do |detail, i| %>
    <td><%= detail.sale_date.strftime("%Y年%m月") %></td>
    <td><%= detail.net_weight %></td>
    <td><%= detail.price %></td>
    <td><%= detail.priceperweight.truncate(2) %></td>
    <td><%= (i < product.product_details.length - 1) ? (detail.priceperweight / product.product_details[i + 1].priceperweight).truncate(2) : '-' %></td>
    </tr>
  <% end %>
<% end %>
</tbody>
</table>