<h1>Products#index</h1>
<p>dbからデータを読み込んで一覧表示するページ</p>

<%= link_to "新規登録", new_product_path %>

<p>
  <% @products.each do |product| %>
  <% end %>
</p>


<section class="bg-light text-center py-5">
  <h2 class="mb-5">一覧(仮)</h2>
  <div class="container">
    <table class="table table-sm table-hover table-striped table-dark">
<thead>
<tr>
  <th scope="col">メーカー</th>
  <th scope="col">商品名</th>
      <th scope="col">内容量</th>
  <th scope="col">価格</th>
  <th scope="col">グラム単価</th>
      <th scope="col">実質値上げ率(対3年前比)</th>
</tr>
</thead>
<tbody>
<% @products.each do |product| %>
<tr>
  <th scope="row"><%= product.maker.name %></th>
  <td><%= product.name %></td>
      <td><%= product.net_weight %></td>
  <td><%= product.price %></td>
  <td><%= product.priceperweight %></td>
　　　<!--ここにグラム単価の計算を入れる-->
      <!--<td><%=  %></td>-->
  <td>###</td>
</tr>
<% end %>
</tbody>
</table>
