    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">新規登録フォーム</div>
        <div class="panel-body">
          <form>
<%= form_for @product do |f| %>
  <p>
  <%= f.label :maker_id , "メーカー" %>
  <!--<%= f.text_field :maker %>-->
  <!--<%= f.select :maker, ["ブルボン", "カルビー", "森永製菓"],  :prompt => "選択してください" %>-->
  <%= f.select :maker_id, @makers.map{|m| [m.name, m.id]} %>
  </p>
 
  <p>
  <%= f.label :name , "商品名" %>
  <%= f.text_field :name %>
  </p>
  
  <p>
  <%= f.label :NET_weight , "内容量(g)" %>
  <%= f.text_field :NET_weight %>
  </p>
  
  <p>
  <%= f.label :price , "価格(円)" %>
  <%= f.text_field :price %>
  </p>

  <%= f.submit %>
 
<% end %>
          </form>
        </div>
      </div>
    </div>
    
<br>
<%= link_to "トップページ", root_path %>

    <!--bootstrapで使用するコード-->
    <!--<div class="container">-->
    <!--  <div class="panel panel-default">-->
    <!--    <div class="panel-heading">新規登録フォーム</div>-->
    <!--    <div class="panel-body">-->
    <!--      <form>-->
    <!--        <div class="form-group">-->
    <!--          <label class="control-label">メーカー</label>-->
    <!--          <input class="form-control" type="text">-->
    <!--        </div>-->
    <!--        <button class="btn btn-default">送信</button>-->
    <!--      </form>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->